.hero {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;

    background: white;
}

.container {
    width: 100%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    margin: 0 auto;
}

.backgroundText {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 1;

    letter-spacing: .15em;
    font-weight: 700;
    font-size: 250px;
    color: rgba(0, 0, 0, 0.07);
    user-select: none;
}

.left img {
    position: relative;
    left: -30%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    letter-spacing: 0.15em;
    font-size: 45px;
    text-decoration: line-through;
    margin-bottom: 1rem;
    font-family: serif;
}

.text {
    max-width: 400px;

    color: #000;
    line-height: 1.4;

    margin-bottom: 80px;
}

.button {
    cursor: pointer;
    width: auto;
    height: auto;

    font-family: 'montserrat', sans-serif;
    letter-spacing: .1em;
    font-weight: 400;
    font-size: 40px;
    color: #fff;

    border-radius: 100px;

    padding: 15px 50px;
    background-color: #000;
    transition: background 0.3s;
}

.button:hover {
    background-color: #222;
}

.sideText {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);

    text-transform: uppercase;
    writing-mode: vertical-rl;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 20px;
    color: #000000;

    padding-left: 0.5rem;
}

.sideText span {
    position: relative;
}

.sideText span::before {
    content: "";
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);

    width: 1px;
    height: 80px;
    background-color: #000000;
}
.sideText span::after {
    content: "";
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);

    width: 1px;
    height: 80px;
    background-color: #000000;
}

.arrowBtn {
    cursor: pointer;

    position: absolute;
    top: 85%;
    right: 25px;

    display: flex;
    justify-content: center;

    width: 40px;
    height: 70px;
}

.arrowBtn span {
    position: absolute;

    width: 5px;
    height: 66px;

    border-radius: 100px;
    background: linear-gradient(0deg, #A8A8A8, rgba(244, 240, 240, .42));
}

.arrowBtn span::before {
    content: "";
    position: absolute;
    top: 69%;
    right: -7px;

    width: 5px;
    height: 25px;

    transform: rotate(45deg);
    border-radius: 100px;
    background: #A8A8A8;
}

.arrowBtn span::after {
    content: "";
    position: absolute;
    top: 69%;
    left: -7px;

    width: 5px;
    height: 25px;

    transform: rotate(-45deg);
    border-radius: 100px;
    background: #A8A8A8;
}