.wrapper{
    background-color: #111111;
    width: 100%;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 240px;
    justify-content: space-between;
}
.logo h6{
    margin: 0;
    font-size: 28px;
}

.container img{
    width: 80px;
    height: 80px;
}

.navigation{
    width: 100%;
    display: flex;
    max-width: 440px;
    justify-content: space-between;
}

.navigation nav{
    font-size: 28px;
}