.wrapper{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    background: #2B2B2B;
    color: white;
}

.container{
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
}

.info{
    width: 100%;
    max-width: 600px;
}

.info h3{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
}

.info p{
    font-size: 30px;
}

.arrowBtn {
    cursor: pointer;

    position: absolute;
    top: 85%;
    right: 25px;

    display: flex;
    justify-content: center;

    width: 40px;
    height: 70px;
}

.arrowBtn span {
    position: absolute;

    width: 5px;
    height: 66px;

    border-radius: 100px;
    background: linear-gradient(0deg, #E81818, rgba(43, 43, 43, 0.66));
    opacity: .41;
}

.arrowBtn span::before {
    content: "";
    position: absolute;
    top: 69%;
    right: -7px;

    width: 5px;
    height: 25px;

    transform: rotate(45deg);
    border-radius: 100px;
    background: #E81818;
}

.arrowBtn span::after {
    content: "";
    position: absolute;
    top: 69%;
    left: -7px;

    width: 5px;
    height: 25px;

    transform: rotate(-45deg);
    border-radius: 100px;
    background: #E81818;
}